pipeline/2 2 Delta_initial_load_Delete.json
{
	"name": "2 2 Delta_initial_load_Delete",
	"properties": {
		"activities": [
			{
				"name": "Lookup_cnt 1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "DECLARE @json nvarchar(max);\nSELECT  @json = coalesce(@json + ','+JSONSTRING,JSONSTRING) FROM\n(select '{\"documentId\":\"product://'+product_id+'\"}' JSONSTRING from stg.coveopushdata_json_wo_csp_cnt_delta_delete\nwhere row_no<=@{int(variables('count'))} ) a\nselect @json as Jsonstring",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "destination_BlackOps1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Create S3 File Container",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Lookup_cnt 1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://api-au.cloud.coveo.com/push/v1/organizations/@{pipeline().parameters.OrganizationID}/files?useVirtualHostedStyleUrl=true",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/json",
						"Accept": "application/json",
						"Authorization": {
							"value": "Bearer @{pipeline().parameters.BearerKey}",
							"type": "Expression"
						}
					},
					"body": {
						"value": "@variables('empty_body')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Push Data To Container",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Create S3 File Container",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@activity('Create S3 File Container').output.uploadURI",
						"type": "Expression"
					},
					"method": "PUT",
					"headers": {
						"x-amz-server-side-encryption": "AES256",
						"Content-Type": "application/octet-stream"
					},
					"body": {
						"value": "@concat('{\"delete\": [',activity('Lookup_cnt 1').output.FirstRow.JSONSTRING,']}')\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Push Container to Stream",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Push Data To Container",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://api-au.cloud.coveo.com/push/v1/organizations/@{pipeline().parameters.OrganizationID}/sources/@{pipeline().parameters.OrganizationID}-@{pipeline().parameters.SourceID}/stream/update?fileId=@{activity('Create S3 File Container').output.fileid}",
						"type": "Expression"
					},
					"method": "PUT",
					"headers": {
						"Authorization": {
							"value": "Bearer @{pipeline().parameters.BearerKey}",
							"type": "Expression"
						},
						"Content-Type": "application/json"
					},
					"body": {
						"value": "@variables('empty_body')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup_cnt 1_copy1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select count(*) cnt from stg.coveopushdata_json_wo_csp_cnt_delta_delete\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "destination_BlackOps1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup_cnt 1_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "count",
					"value": {
						"value": "@{int(activity('Lookup_cnt 1_copy1').output.firstRow.cnt)}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Intial Load woCspCnt Delete Log",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Push Container to Stream",
						"dependencyConditions": [
							"Succeeded",
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[CoveoPushData_wo_csp_cnt_Delta_delete_log]",
					"storedProcedureParameters": {
						"AWSContainerFileID": {
							"value": null,
							"type": "String"
						},
						"AWSUploadURI": {
							"value": {
								"value": "@activity('Create S3 File Container').output.uploaduri",
								"type": "Expression"
							},
							"type": "String"
						},
						"BAtchNoStart": {
							"value": {
								"value": "@int(variables('count'))",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"PipelineID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('Push Container to Stream').Error?.Message",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"OrganizationID": {
				"type": "string"
			},
			"SourceID": {
				"type": "string"
			},
			"BearerKey": {
				"type": "string"
			}
		},
		"variables": {
			"count": {
				"type": "String"
			},
			"empty_body": {
				"type": "String",
				"defaultValue": "{}"
			}
		},
		"folder": {
			"name": "BlackOps to Coveo Delta Load Pipelines"
		},
		"annotations": []
	}
}