pipeline/2 3 BPart_Product_Intial_Load.json
{
	"name": "2 3 BPart_Product_Intial_Load",
	"properties": {
		"activities": [
			{
				"name": "Until1_Products",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "until1_start",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "until1_end",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(int(variables('until1_start')), int(variables('until1_end')))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Coveo Stream Chunk1",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "https://api-au.cloud.coveo.com/push/v1/organizations/@{pipeline().parameters.OrganizationID}/sources/@{pipeline().parameters.OrganizationID}-@{pipeline().parameters.SourceID}/stream/@{pipeline().parameters.uploadURI}/chunk",
									"type": "Expression"
								},
								"method": "POST",
								"headers": {
									"Authorization": {
										"value": "Bearer @{pipeline().parameters.BearerKey}",
										"type": "Expression"
									},
									"Content-Type": "application/json",
									"Accept": "application/json"
								},
								"body": {
									"value": "@variables('empty_body')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Coveo Stream Chunk Push",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Lookup4",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Coveo Stream Chunk1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@activity('Coveo Stream Chunk1').output.uploadURI",
									"type": "Expression"
								},
								"method": "PUT",
								"headers": {
									"x-amz-server-side-encryption": "AES256",
									"Content-Type": "application/octet-stream"
								},
								"body": {
									"value": "@concat('{\"AddOrUpdate\": [',activity('Lookup4').output.FirstRow.Jsonstring,']}')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Lookup4",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT  Jsonstring FROM stg.CoveoPushData_json_bpart_lookup_group\nWhere batchno=@{int(variables('until1_start'))}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "destination_BlackOps",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Set temp1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Bpart log1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "until1_temp",
								"value": {
									"value": "@variables('until1_start')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Increment_Newbatchno1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set temp1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "until1_start",
								"value": {
									"value": "@{add(int(variables('until1_temp')),1)}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Bpart log1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Coveo Stream Chunk Push",
									"dependencyConditions": [
										"Succeeded",
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[bpart_Coveopushdata_log1]",
								"storedProcedureParameters": {
									"AWSContainerFileID": {
										"value": {
											"value": "@activity('Coveo Stream Chunk1').output.fileID",
											"type": "Expression"
										},
										"type": "String"
									},
									"AWSUploadURI": {
										"value": {
											"value": "@pipeline().parameters.uploadURI",
											"type": "Expression"
										},
										"type": "String"
									},
									"BAtchNoStart": {
										"value": {
											"value": "@variables('until1_start')",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"PipelineID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"ErrorMessage": {
										"value": {
											"value": "@activity('Coveo Stream Chunk Push').Error?.Message",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			},
			{
				"name": "until1_start",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup-1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "until1_start",
					"value": {
						"value": "@{activity('Lookup-1').output.firstRow.batch_start}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup-1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Script1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select batch_start,batch_end from stg.bpart_loadbalancer\nwhere id =@{int(variables('until1'))}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "destination_BlackOps",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "until1_end",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup-1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "until1_end",
					"value": {
						"value": "@{activity('Lookup-1').output.firstRow.batch_end}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "until2_start",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup-2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "until2_start",
					"value": {
						"value": "@{activity('Lookup-2').output.firstRow.batch_start}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup-2",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Script1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select batch_start,batch_end from stg.bpart_loadbalancer\nwhere id =@{int(variables('until2'))}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "destination_BlackOps",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "until2_end",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup-2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "until2_end",
					"value": {
						"value": "@{activity('Lookup-2').output.firstRow.batch_end}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "until3_start",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup-3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "until3_start",
					"value": {
						"value": "@{activity('Lookup-3').output.firstRow.batch_start}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup-3",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Script1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select batch_start,batch_end from stg.bpart_loadbalancer\nwhere id =@{int(variables('until3'))}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "destination_BlackOps",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "until3_end",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup-3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "until3_end",
					"value": {
						"value": "@{activity('Lookup-3').output.firstRow.batch_end}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "declare @maxvalue int;\ntruncate table stg.bpart_loadbalancer;\n\nset @maxvalue =(select coalesce(max(batchno),0) from stg.CoveoPushData_Json_BPart_Lookup_group)\n\ninsert into stg.bpart_loadbalancer values(1,1,@maxvalue/3,GETDATE()),\n(2,(@maxvalue/3)+1,2*(@maxvalue/3),GETDATE()),\n(3,(2*(@maxvalue/3))+1,@maxvalue,GETDATE())",
								"type": "Expression"
							}
						}
					]
				}
			},
			{
				"name": "Until2_Products",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "until2_start",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "until2_end",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(int(variables('until2_start')), int(variables('until2_end')))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Coveo Stream Chunk Push 2",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Lookup2",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Coveo Stream Chunk2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@activity('Coveo Stream Chunk2').output.uploadURI",
									"type": "Expression"
								},
								"method": "PUT",
								"headers": {
									"x-amz-server-side-encryption": "AES256",
									"Content-Type": "application/octet-stream"
								},
								"body": {
									"value": "@concat('{\"AddOrUpdate\": [',activity('Lookup2').output.FirstRow.Jsonstring,']}')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Lookup2",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT  Jsonstring FROM stg.CoveoPushData_json_bpart_lookup_group\nWhere batchno=@{int(variables('until2_start'))}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "destination_BlackOps",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Set temp2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Bpart log2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "until2_temp",
								"value": {
									"value": "@variables('until2_start')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Increment_Newbatchno2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set temp2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "until2_start",
								"value": {
									"value": "@{add(int(variables('until2_temp')),1)}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Bpart log2",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Coveo Stream Chunk Push 2",
									"dependencyConditions": [
										"Succeeded",
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[bpart_Coveopushdata_log2]",
								"storedProcedureParameters": {
									"AWSContainerFileID": {
										"value": {
											"value": "@activity('Coveo Stream Chunk2').output.fileid",
											"type": "Expression"
										},
										"type": "String"
									},
									"AWSUploadURI": {
										"value": {
											"value": "@pipeline().parameters.uploadURI",
											"type": "Expression"
										},
										"type": "String"
									},
									"BAtchNoStart": {
										"value": {
											"value": "@variables('until2_start')",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"PipelineID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"ErrorMessage": {
										"value": {
											"value": "@activity('Coveo Stream Chunk Push 2').Error?.Message",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Coveo Stream Chunk2",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "https://api-au.cloud.coveo.com/push/v1/organizations/@{pipeline().parameters.OrganizationID}/sources/@{pipeline().parameters.OrganizationID}-@{pipeline().parameters.SourceID}/stream/@{pipeline().parameters.uploadURI}/chunk",
									"type": "Expression"
								},
								"method": "POST",
								"headers": {
									"Authorization": {
										"value": "Bearer @{pipeline().parameters.BearerKey}",
										"type": "Expression"
									},
									"Content-Type": "application/json",
									"Accept": "application/json"
								},
								"body": {
									"value": "@variables('empty_body')",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			},
			{
				"name": "Until3_Products",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "until3_start",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "until3_end",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(int(variables('until3_start')), int(variables('until3_end')))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Coveo Stream Chunk3",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "https://api-au.cloud.coveo.com/push/v1/organizations/@{pipeline().parameters.OrganizationID}/sources/@{pipeline().parameters.OrganizationID}-@{pipeline().parameters.SourceID}/stream/@{pipeline().parameters.uploadURI}/chunk",
									"type": "Expression"
								},
								"method": "POST",
								"headers": {
									"Authorization": {
										"value": "Bearer @{pipeline().parameters.BearerKey}",
										"type": "Expression"
									},
									"Content-Type": "application/json",
									"Accept": "application/json"
								},
								"body": {
									"value": "@variables('empty_body')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Coveo Stream Chunk Push 3",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Lookup3",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Coveo Stream Chunk3",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@activity('Coveo Stream Chunk3').output.uploadURI",
									"type": "Expression"
								},
								"method": "PUT",
								"headers": {
									"x-amz-server-side-encryption": "AES256",
									"Content-Type": "application/octet-stream"
								},
								"body": {
									"value": "@concat('{\"AddOrUpdate\": [',activity('Lookup3').output.FirstRow.Jsonstring,']}')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Lookup3",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT  Jsonstring FROM stg.CoveoPushData_json_bpart_lookup_group\nWhere batchno=@{int(variables('until3_start'))}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "destination_BlackOps",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Set temp3",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Bpart log3",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "until3_temp",
								"value": {
									"value": "@variables('until3_start')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Increment_Newbatchno3",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set temp3",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "until3_start",
								"value": {
									"value": "@{add(int(variables('until3_temp')),1)}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Bpart log3",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Coveo Stream Chunk Push 3",
									"dependencyConditions": [
										"Succeeded",
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[bpart_Coveopushdata_log3]",
								"storedProcedureParameters": {
									"AWSContainerFileID": {
										"value": {
											"value": "@activity('Coveo Stream Chunk3').output.fileid",
											"type": "Expression"
										},
										"type": "String"
									},
									"AWSUploadURI": {
										"value": {
											"value": "@pipeline().parameters.uploadURI",
											"type": "Expression"
										},
										"type": "String"
									},
									"BAtchNoStart": {
										"value": {
											"value": "@variables('until3_start')",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"PipelineID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"ErrorMessage": {
										"value": {
											"value": "@activity('Coveo Stream Chunk Push 3').Error?.Message",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			}
		],
		"parameters": {
			"UploadURI": {
				"type": "string"
			},
			"Fileid": {
				"type": "string"
			},
			"OrganizationID": {
				"type": "string"
			},
			"SourceID": {
				"type": "string"
			},
			"BearerKey": {
				"type": "string"
			}
		},
		"variables": {
			"until1": {
				"type": "String",
				"defaultValue": "1"
			},
			"empty_body": {
				"type": "String",
				"defaultValue": "{}"
			},
			"until2": {
				"type": "String",
				"defaultValue": "2"
			},
			"until3": {
				"type": "String",
				"defaultValue": "3"
			},
			"until1_start": {
				"type": "String",
				"defaultValue": "2"
			},
			"until1_end": {
				"type": "String",
				"defaultValue": "10"
			},
			"until2_start": {
				"type": "String",
				"defaultValue": "11"
			},
			"until2_end": {
				"type": "String",
				"defaultValue": "20"
			},
			"until1_temp": {
				"type": "String",
				"defaultValue": "1"
			},
			"until2_temp": {
				"type": "String",
				"defaultValue": "1"
			},
			"until3_start": {
				"type": "String",
				"defaultValue": "21"
			},
			"until3_end": {
				"type": "String",
				"defaultValue": "30"
			},
			"until3_temp": {
				"type": "String",
				"defaultValue": "1"
			}
		},
		"folder": {
			"name": "BlackOps to Coveo Full Load Pipelines"
		},
		"annotations": []
	}
}